@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To BridgeLabz Welcome</h1>
    <p>Learn about <a href="https://www.bridgelabz.com/">BridgeLabz More</a>.</p>
</div>
